html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
}
* {
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

#app > div {
  min-height: 100vh;
  min-width: 375px;
  width: 100%;
  max-width: 414px;
}

.m-0 {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.flex {
  display: flex;
}
.f-ali {
  display: flex;
  align-items: center;
}
.f-jus {
  display: flex;
  justify-content: center;
}
.f-cen {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-bet {
  display: flex;
  justify-content: space-between;
}
.f-alibet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.f-cenbet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-pb {
  padding-bottom: 80px;
}
.segmented-pt {
  padding-top: 33px;
}

.contents {
  width: calc(100% - 64px);
  margin: 0 auto;
}
.shadow {
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
}
