.seek {
  &__day {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 8px;
    p {
      color: #757575;
    }
    button {
      font-size: 1.2rem;
      font-weight: normal;
      color: #58b4ff;
    }
  }

  &__inputs {
    border-radius: 11px;
    height: 50px;
    background-color: #f5f5f5;
    margin-bottom: 16px;

    input {
      font-size: 1.4rem;
      width: min-content;
      color: #333;
      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }
    p {
      margin: 0 40px;
    }
  }

  &__comment {
    font-size: 1.2rem;
    font-weight: bold;
    color: #757575;
    margin-bottom: 48px;
  }

  &__shopSelect {
    button.shadow {
      display: block;
      border-radius: 11px;
      height: 50px;
      background-color: #f5f5f5;
      margin-bottom: 32px;
      text-align: left;
      padding-left: 24px;
      color: #9b9b9b;
      font-size: 1.4rem;
    }
  }
  &__shopSelectBtn {
    display: block;
    text-align: right;
    color: #58b4ff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 24px;
  }

  &__message {
    margin-bottom: 80px;
    textarea {
      display: block;
      border-radius: 11px;
      padding: 16px;
      height: 96px;
      background-color: #f5f5f5;
      resize: none;
      font-size: 1.4rem;
      overflow: hidden;
      &::placeholder {
        color: #9b9b9b;
      }
    }
  }

  &__btn {
    background-color: #58b4ff;
    border: none;
    color: white;
    margin-bottom: 16px;
  }
  &__backBtn {
    border-color: #58b4ff;
    color: #58b4ff;
    margin-bottom: 16px;
  }
}

.seekVerify {
  &__date {
    margin: 16px auto;
    font-weight: bold;
    font-size: 1.4rem;
    color: #757575;
  }

  &__card {
    margin-bottom: 80px;
  }
}
