@mixin mp($per) {
  padding-top: calc(100vh * #{$per});
}

.start {
  &__logo {
    @include mp(0.331280788);
  }

  &__btns {
    @include mp(0.225369458);
    button:first-of-type {
      margin-bottom: 24px;
    }
  }
}
